name: ReleaseTest

on:
  push:
    branches:
      - 'main'

jobs:
  release:
#    if: startsWith(github.ref, 'refs/tags')
    runs-on: "ubuntu-latest"

    steps:
      - name: Dump GitHub context
        env:
          GITHUB_CONTEXT: ${{ toJson(github) }}
        run: echo "$GITHUB_CONTEXT"

      - name: Get version
        id: get_version
        run: echo ::set-output name=VERSION::${GITHUB_REF/refs\/tags\//}

      - name: Print from other step
        run: ${{ steps.get_version.outputs.VERSION }}


